$theme_width: 1180px;//版心1180px
$theme_color: orange;//主题色
//暗黑模式主题色设置....
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}/*省略号*/
.ellipsis-2 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}/*两行省略*/
.becomeGrey{
  opacity: .5;
}//置灰

@mixin commonBtn ($width, $height, $bgcColor, $borderRadius, $fontSize, $fontColor, $isBold: bold,) {
  //宽，高，背景色，圆角，字体大小，加粗，字体颜色
  display: inline-block;
  cursor: pointer;
  width: $width;
  height: $height;
  text-align: center;
  line-height: $height;
  background: $bgcColor;
  border-radius: $borderRadius;
  font-size: $fontSize;
  font-weight: $isBold;
  color: $fontColor;
}//公共按钮样式设置
